{% extends 'byteland/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center custom-color">{% trans 'Change your password' %}</h5>
                <p>{% trans 'Use the form below to change your password' %}</p>
                <form action="{% url 'auth:password_change' %}" method="POST">
                    {% include 'byteland/render_form.html' with form=form %}
                    <button type="submit" class="btn btn-primary mt-2">{% trans 'Change' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}