{% extends 'byteland/base.html' %}
{% load i18n %}
{% block title %}{% trans 'password change done' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center custom-color">{% trans 'Password changed' %}</h5>
                <p>{% trans 'Your password has been successfully changed.' %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}