{% extends 'byteland/base.html' %}
{% load i18n %}
{% block title %} {% trans 'Password reset' %} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center custom-color">{% trans 'Password set' %}</h5>
                {% url 'auth:login' as login_url %} 
                {% blocktrans %}
                <p>Your password has been set. You can
                    <a href="{{ login_url }}">log in now</a>
                </p>
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>  
{% endblock %}