{% extends "byteland/base.html" %}
{% load i18n %}
{% block title %} {% trans 'Reset your password' %} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center custom-color">{% trans 'Reset your password' %}</h5>
                <p>{% trans "We've emaild you instructions for setting your password." %}</p>
                <p>{% trans "If you don't recieve an email, please make sure you've entered the address you registered with." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}