{% extends 'byteland/base.html'%}
{% load jformat %}
{% load i18n %}
{% load byteland_filters %}
{% block content %}
<div class="margin-top-15">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {% if story.url %}
                    <a href="{{story.url}}" target="_blank">
                        <h1>{{story.title}}</h1>
                    </a>
                    {% else %}
                    <h1>{{story.title}}</h1>
                    {% endif %}
                </div>
            </div>
            <div class="row font-size-12">
                <div class="col color-dimgray">
                    {% blocktrans with username=story.user.profile created=story.created.togregorian|timesince %}
                    Created by: &nbsp;
                    <b> {{ username }} </b>
                    &nbsp;
                    <span> {{ created }} </span>
                    {% endblocktrans %}
                </div>
            </div>
            <div class="row padding-top-10">
                <div class="col-md-12">
                    <p>{{story.story_body_text|markdown}}</p>
                </div>
            </div>
            
            <div class="row padding-top-10">
                <div class="col-md-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-primary mt-2">{% trans "Send" %}</button>
                    </form>
                </div>
            </div>
            {% for comment in story.comments.all %}
            <div class="row padding-top-10 margin-right-10">
                <div class="col-md-1">
                    {% include 'user_profile/render_profile_photo.html' with user=comment.commenter size='48x48' %}
                </div>
                <div class='col-md-11'>
                    <span class="font-size-12 padding-top-3 color-dimgray">
                        {{ comment.commenter.profile }}
                        {{ comment.created.togregorian|timesince }}
                        {% trans "before" %}</span>
                    <p>{{ comment.story_comment }}</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}