{% extends 'byteland/base.html' %}
{% load i18n %}
{% block title %} {% trans "Edit profile of" %} {{ user.username }} {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">{% trans "Edit Profile of" %} {{ user.username }}</h5>
                <form action="." method="POST" enctype="multipart/form-data">
                    {% include 'byteland/render_form.html' with form=user_form %}
                    {% include 'byteland/render_form.html' with form=profile_form %}
                    <button type="submit" class="btn btn-primary mt-2">{% trans "Edit" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}