{% extends 'byteland/base.html' %}
{% load thumbnail %}
{% load static %}
{% load i18n %}
{% load jformat %}
{% block content %}

<div class="margin-top-15">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    {% if user.profile.photo %}
                        {% thumbnail user.profile.photo '150x150' crop="center" as im %}
                            <img src="{{ im.url }}" alt="{{ user.username }}" class="mx-auto d-block img-thumbnail profile-img">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'user_profile/img/profile.jpg' %}" alt="{{ user.username }}"
                            class="mx-auto d-block img-thumbnail profile-img default-profile-img">
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    {{ user.username }} <br>
                    <a href="{% url 'auth:password_change' %}">{% trans 'Change password' %}</a><br>
                    <a href="{% url 'user_profile:profile_edit' %}">{% trans 'Edit Profile' %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h1>{% trans "Your stoies" %} ({{ user_stories_count }})</h1>
            <hr>
            {% include 'story/list.html' with profile=True%}
        </div>
    </div>
</div>
{% endblock %}