{% load render_bundle from webpack_loader %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% if LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE }}" class="rtl">
{% else %}
<html lang="{{ LANGUAGE_CODE }}">
{% endif %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Meysam Shirdel">

    <title>{% block title%}{% endblock %}</title>
    {% render_bundle 'main' 'css' %}

</head>

<body>
    {% comment %}
        {% include "byteland/navigation.html" %}
    {% endcomment %}
    {% include "byteland/messages.html"%}
    <main id="main-content" role="main" class="margin-top-15 container {% if LANGUAGE_BIDI %} rtl {% endif %}">
        {% block content %} {% endblock %}
    </main>
    <br>
    {% comment %}
        {% include "byteland/footer.html" %}
    {% endcomment %}

    {% render_bundle 'main' 'js' %}

    {% block javascript %}
    {% endblock %}

</body>

</html>